{% extends 'index.html' %}

{% block content %}

<div class ="col-md-6 offset-md-3">

<h1>Login</h1>
<br/>

<form method='POST' action='{% url 'home' %}'>
    {% csrf_token%}
    <form>
        <div class="mb-3">
          
          <input type="text" class="form-control" name='Username' placeholder='Username'>
          
        </div>
        <div class="mb-3">
 
          <input type="password" class="form-control" name='Password' placeholder='Password'>
        </div>

        <button type="submit" class="btn btn-primary">Login</button>
      </form>

</form>

</div>

{% endblock%}