{% extends 'index.html' %}

{% block content %}

<h1>Schedule Vaccination Time</h1>
<br/>



<table class="table table-hover table-bordered">
    <thead>
      <tr>
        <th scope="col">Timeslot</th>
      </tr>
    </thead>
    <tbody>
      
{% if timeslots %}
    {% for timeslot in timeslots %}
        {% if timeslot.num_nurses|stringformat:'s' < 12|stringformat:'s' %}
            <tr>
                <td>{{timeslot}} </td>

            </tr>
        {% endif %}
    {% endfor %}
{% endif %}
    </tbody>
  </table>


{% endblock%}